@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* LoadingScreen.css */

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  margin-bottom: 1rem;
}

.quote {
  text-align: center;
  animation: fadeInOut 3s linear infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@layer utilities {
  .post-content p {
    @apply pb-4 text-lg
  }

  .post-content a {
    @apply text-blue-600 no-underline
  }

  .post-content h2 {
    @apply text-2xl font-bold py-2
  }
  
  .post-content h3 {
    @apply text-xl font-bold py-2
  }
  
  .post-content h6 {
    @apply text-lg font-bold py-2
  }
  
  .post-content ul {
    @apply pb-4 list-disc list-inside
  }
}